{% load staticfiles %}
<html>
    <head>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Anonymious Blog</title>
    </head>
    <div class="page-header">     
            <h1><a href="/">Anonymious Blog</a></h1> 
        </div>
    <body>

        <div>
            <a href="https://de.wikipedia.org/wiki/Sinn_des_Lebens">For more infos click here.</a>
        </div>
        <div>          
            <div class="content container">
                    <div class="row">
                        <div class="col-md-8">
                        {% for post in posts %}
                            <div class="post">
                                <div class="date">
                                    {{ post.published_date }}
                                </div>
                                <h1><a href="">{{ post.title }}</a></h1>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
        </div>
        <p><strong>Impressum</strong></p>
        <p>Ideenschmiede GmbH <br />
            Max Mustermann<br />
            Musterstraße 11<br />01042 Dresden<br /></p>
    </body>
</html>